[submodule "libs/slidingmenu"]
	path = libs/slidingmenu
	url = git@github.com:freezy/SlidingMenu.git
[submodule "libs/xbmc-jsonrpclib"]
	path = libs/xbmc-jsonrpclib
	url = https://github.com/freezy/xbmc-jsonrpclib-android.git
[submodule "libs/actionbarsherlock"]
	path = libs/actionbarsherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "libs/quickscroll"]
	path = libs/quickscroll
	url = https://github.com/andraskindler/quickscroll.git
